@font-face {
  font-family: "sans-bold";
  src: url("~/assets/fonts/GeneralSans-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-light";
  src: url("~/assets/fonts/GeneralSans-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-medium";
  src: url("~/assets/fonts/GeneralSans-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-semi";
  src: url("~/assets/fonts/GeneralSans-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-regular";
  src: url("~/assets/fonts/GeneralSans-Regular.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dm-mono";
  src: url("~/assets/fonts/DMMono-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
